<div class="row">
    <div class="row-md-4">
        <h3>Seleccione archivo de imagen</h3>
        <div appNgDropFiles [archivos]="archivos" (mouseSobre)="isDrop=$event" [ngClass]=" {'file-over': isDrop} " class="well drop-zone">
            <h4>Arrastre aqui la imagen deseada</h4>
            <img src="assets/drop-images.png">
        </div>
    </div>
    <div class="row-md-8">
        <h4>Cargar archivo</h4>
        <button (click)="cargarImagen()" [disabled]="archivos.length === 0" class="btn btn-success">Guardar</button>
        <button (click)='limpiarArchivos()' class="btn btn-danger">Limpiar</button>
        <table class="table">
            <thead class="thead=dark">
                <th>Nombre archivo</th>
                <th>Peso</th>
                <th>Progreso</th>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos">
                    <td [ngClass]="{'text-green': archivo.progreso >= 100 }">{{ archivo.nombreArchivo }}</td>
                    <td>{{ archivo.archivo.size /1024 /1024 | number: '.2-2' }} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>