<div class="row row-cols-4 row-cols-md-4 g-4">
    <!-- <div class="col cols-4"> -->
    <div class="card" *ngFor="let item of items | async">
        <img [src]="item.url" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{item.nombre}}</h5>
        </div>
    </div>
    <!-- </div> -->
</div>